* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mainComponent {
  max-width: 480px;
  min-width: 320px;
}

.headerBlack {
  height: 40px;
  background-color: black;
}

.headerChoice {
  height: 30px;
  background-color: darkgrey;
}

.roundCircle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: darkgrey;
  display: inline-block;
  position: relative;
  
}

.tab {
  float: left;
  width: 33.3%;
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}