* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mainComponent {
  max-width: 480px;
  min-width: 320px;
}

.headerBlack {
  height: 40px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.headerChoice {
  height: 30px;
  background-color: darkgrey;
}

.roundCircle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: darkgrey;
  position: relative;
  left: 2vw;
  top: 0.75vh;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.patron {
  height: 60%;
  width: 30%;
  background-color: white;
  align-self: center;
  justify-self: center;
  font-size: 0.6rem;
}

.userHeader {
  display: flex;
  flex-direction: column;
  color: white;
}

.tab {
  float: left;
  width: 33.3%;
  border: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekly {
  width: 100%;
  display: flex;
  padding-top: 10px;
}

.weekly span:first-child {
  position: relative;
  left: 37%;
}

.weekly span:last-child {
  position: relative;
  left: 60%;
 }

.weeklyBody {
  background-color: darkgrey;
}

.weeklyTags {
  background-color: black;
  color: white;
  height: 20px;
  width: 100%;
}
