* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
}

.mainComponent {
  max-width: 480px;
  min-width: 320px;
}

.headerBlack {
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.headerChoice {
  height: 30px;
  background-color: white;
  cursor: pointer;
}

.patronate {
  width: 20%;
  height: 40px;
  align-self: center;
  justify-self: center;
  position: relative;
  left: 6%;

}

.userHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  position: relative;
  right: 2.5%;
  font-size: 0.95rem;

}

.userHeader span:first-child {
  align-self: center;
}

.userHeader a {
  color: black;
}

.logo {
  font-family: 'Righteous', cursive;
  font-size: 1.8rem;
  position: relative;
  left: 4%;
  align-self: center;
}

.tab {
  float: left;
  width: 33.3%;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  border-left: none;
  border-right: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: white;
  margin: 15px 0;
  cursor: pointer;
}


.weekly {
  width: 100%;
  height: 30px;
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
  margin-bottom: 15px;
}

.weekly span:first-child {
  position: relative;
  font-weight: 700;
  left: 20%;
  bottom: 35%;
  font-size: 1.3rem;
}

.weekly span:last-child {
  position: relative;
  right: -9%;
  bottom: 15%;
}

.weeklyBody {
  background-color: #EFEFEF;
  border: 0.5px solid black;
  border-bottom-color: white;
}

.weeklyBody span:first-child {
  font-weight: 600;
  padding: 7px 15px;
  display: inline-block;
  font-size: 1.2rem;
}

.weeklyTags {
  background-color: white;
  height: 25px;
  width: 100%;
  border: 0.5px solid black;
  //border-bottom-color: white;
  color: black;
  padding: 3.5px 15px;
  font-size: 0.9rem;
}


.weeklyText {
  padding: 20px 15px;
  line-height: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white;
}

.weeklyTags a {
  color: black;
}

.training {
  margin-bottom: 18px;
  margin-top: -5px;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  padding: 1px 20px;
  border: 0.75px solid black;
  border-radius: 5%;
  background-color: #EFEFEF;
  font-size: 1rem;
  cursor: pointer;
}

.buttonCenter {
  text-align: center;
}

.weeklyShare {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}

.weeklyShare a {
  color: #EBEBEB;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1.6rem;
}

textarea {
  margin-bottom: 10px;
  width: 70%;
  height: 60px;
  background: none repeat scroll 0 0 #EFEFEF;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF;
  border-radius: 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-size: 1.1rem;
  line-height: 1.2rem;
  padding: 5px 5px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}

.signature {
  text-align: right;
  padding-right: 2px;
  font-size: 0.5rem;
}

.quiz {
  text-align: center;
  margin-bottom: 15px;
}

.outerPop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.innerPop {
  position: absolute;
  top: 45%;
  bottom: 45%;
  left: 25%;
  right: 25%;
  margin: auto;
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerPop span {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 5px;
}

.playerReact {
  border: 1px solid black;
  padding: 10px 0;
  background-color: black;
}

//.component-slider {
//  position: relative;
//  width: 100%;
//  overflow: hidden;
//  white-space: nowrap;
//}
//.component-slider .slider-container {
//  margin: 0 30px;
//  overflow: hidden;
//}
//.component-slider .slider-content {
//  display: inline-block;
//  transition: margin-left 1s ease-in;
//}
//.component-slider .caret {
//  width: 30px;
//  height: 100%;
//  position: absolute;
//  top: 50%;
//  transform: translateY(-50%);
//  padding: 0;
//  margin: 0;
//  background: none;
//  border: none;
//  cursor: pointer;
//  text-align: center;
//  font-size: 30px;
//  color: #797979;
//}
//.component-slider .caret-right {
//  right: 0;
//}
//.component-slider .caret-left {
//  left: 0;
//}
//
//.menu-bar {
//  border: 0.5px solid black;
//  width: 100%;
//  margin-bottom: 20px;
//  //background-color: #EFEFEF;
//}
//
.menu-item {
  width: 165px;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  margin: 10px 5px;
  background-color: white;
}

.menu-item:hover {
  background: #656565;
  color: #ffffff;
}

.menu-item-down {
  width: 80%;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  margin: 10px 5px;
  background-color: white;
  height: 60%;

}

.descriptionMenu {
  width: 85%;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  height: 30%;
  line-height: 12.7px;
  padding-top: 3px;
}

.menuColumn {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  height: 240px;
}

.titleMenu {
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: -3px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }


}

.card {
  display: inline-block;
}


.moreTips {
  margin-bottom: 20px;
}


.scrolling-wrapper-up {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  //display: flex;
  ////justify-content: center;
  //align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }


}

.cardLarge {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  //top: 50%;
  //left: 35%;
  //right: 50%;
  //bottom: 50%;
}

//.none {
// //display: inline-block;
//}

//.flexCard {
//  display: flex;
//  justify-content: center;
//}

.block {
  display: inline-block;
}

.unBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}